.headingtext {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 162px;
    transform: translateY(-18px);
  }
   
  .visa{
    width: 25%;
    margin-right: 15px;
  }
 
  .img{
    margin-left: 23px;
    background: rgba(255, 255, 255, 0.1);
    mix-blend-mode: normal;
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
    transform: translateY(-8px);
  }

  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .foot{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .rights1{
    color: #ffffff;
    margin-left: 6vw;
  }

  .footercont1{
    display: flex;
  }

  .footerhead{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 150%;
color: #FFFFFF;
margin-right: 4vw !important;
  }

  .youtube{
    margin-right: 6vw;
  }


  @media screen and (max-width: 768px) {
    .rights1{
      text-align: center;
    }

    .rights2{
      text-align: center;
      margin-right: 5vw;
    }

    .footerhead{
      margin-top: 50px;
    }

    .youtube{
      margin-right: 20vw;
    }
  

    .footer2{
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .footercont1{
      display: flex;
      margin-left: 15vw;
      margin-top: 30px;
    }

    .footer1{
      text-align: center;
    }

    .footer11{
   text-align: center;
   margin-bottom: 20px;
    }

    .footerhead{
    text-align: center;
    }

    .footer21{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    }

    .footer22{
    text-align: center;
    }
  }