.container{
    background-color: #000;
    transform: translateY(-35vw);
}

.container1{
    background-color: #000;
}

.feature{
    margin-left: 10vw;
}

.header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #FFFFFF;
}

.para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #9E9E9E;
    padding-right: 50vw;
}

.box1{
    background: #18181C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-bottom: 5vw; 
    margin-top: 5vw;
    padding: 1vw;
}

.box2{
    background: #18181C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw; 
    margin-top: 5vw;
    padding: 1vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.box3{
    background: #18181C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-bottom: 5vw; 
    margin-top: 5vw;
    padding: 1vw;
}

.box4{
    background: #18181C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-bottom: 5vw;
    padding: 1vw;
}

.box5{
    background: #18181C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    padding: 1vw;
    margin-left: 4vw;
    margin-right: 4vw;
}


.box6{
    background: #18181C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-bottom: 5vw;
    padding: 1vw;
}

.img{
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.imgbox{
    text-align: center;
}

.header1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
text-align: center;
color: #FFFFFF;
}

.para1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #9E9E9E;
}

.collab{
    width: 80%;
    margin-left: 10vw;
}

.featureheader{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}

.featurebox{
    padding: 5vw 15vw 5vw 5vw;
}

.featurepara{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px; 
    color: #9E9E9E;
}

.featurebut{
    background: linear-gradient(92.51deg, #FF9898 0.48%, #8054FF 100%);
    border-radius: 5px;
    padding: 12px 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.featureheader1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
}

.featurebox1{
    background: linear-gradient(135.66deg, #FF9898 14.73%, #8054FF 86.33%);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    margin-top: 5vw;
    margin-left: 15vw;
    margin-right: 5vw;
    padding: 3vw 4vw;
}

.featurepara1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 2vw 0vw 3vw 0vw;
}

.featurebut1{
    background: #000000;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;   
    color: #FFFFFF;
    padding: 12px 28px;
}


.featureheader2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
}

.featurebox2{
    background: #18181C;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    margin-top: 5vw;
    margin-right: 15vw;
    padding: 3vw 4vw;
    margin-left: 5vw;

}

.featurepara2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 2vw 0vw 3vw 0vw;
}

.featurebut2{
    background: linear-gradient(92.51deg, #FF9898 0.48%, #8054FF 100%);
    border-radius: 5px;
    padding: 12px 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
}

.bountypara1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
text-align: center;
color: #FFFFFF;
transform: translateY(-2vw);
}

.horizontalline{
    border: 1px solid #404047;
    width: 80%;
    transform: translateY(-2vw);
}

.horizontalline1{
    border: 1px solid #404047;
    width: 80%; 
}

.bounty1{
    display: flex;
    flex-direction: column;
    background: #18181C;
border-radius: 20px;
margin-left: 10vw;
margin-top: 3vw;
margin-bottom: 3vw;
}

.bounty2{
    display: flex;
    flex-direction: column;
    background: #18181C;
border-radius: 20px;
margin-top: 3vw;
margin-left: 5vw;
margin-right: 5vw;
margin-bottom: 3vw;
}

.bounty3{
    display: flex;
    flex-direction: column;
    background: #18181C;
border-radius: 20px;
margin-right: 10vw;
margin-top: 3vw;
margin-bottom: 3vw;
}

.bountyicon1{
    transform: translateY(-2vw);
}

.bountydiv1{
    display: flex;
    align-items: center;
}

.bountypara11{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.bountymainheader{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 80px;
color: #FFFFFF;
margin-left: 10vw;
}

.bountybutton{
    background: linear-gradient(92.51deg, #FF9898 0.48%, #8054FF 100%);
    border-radius: 5px;
    padding: 12px 28px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.bountyfooterheader{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 64px;
color: #FFFFFF;
margin-left: 10px;
margin-right: 10px;
}

.bountyfooterpara{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #9E9E9E;
}

.bountyfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bountyicon11{
    padding: 10px;   
    margin-left: 20px;
}