.button{
  background-color: #3671E9;;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  height: 52px;
  display: flex;
  border-radius: 32px;
  margin-right: 5vw;
  margin-left: 20px;
  border: none;
}


.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 39px;
  margin-top:10px;
  margin-left: 4.5vw;
}

.headingtext {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  width: 162px;

}

.img{
  margin-left: 23px;
  background: rgba(255, 255, 255, 0.1);
  mix-blend-mode: normal;
  border-radius: 50%;
  margin-right: 10px;
  width: 90px;
  height: 90px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.container{
  background-color: #0D0D2B !important;
  max-width: 100vw;
}

@media screen and (max-width: 1000px) {
  .center{
    transform: translateX(35%);
  }
}