.container{
    background-color: #0D0D2B;
}

.heading1{
    padding-top: 50px;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
}

.heading2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 100px;
}

.heading3{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
}

.img{
    margin-left: 200px;
    width: 55%;
}

.img1{
    margin-left: 380px;
    background: #35068C;
    transform: translateY(-50px);
    box-shadow: 0px 4px 20px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    padding: 15px 5px 15px 17px;
    width: 10%;
}

.img4{
    margin-left: 120px;
    margin-bottom: 70px;
    border: none;
    width: 70%;
}


.img5{
    margin-left: 10vw;
    border: none;
    width: 70%;
}

.button{
    background: #3671E9;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    padding: 16px 32px;
    gap: 24px;
    color: #FFFFFF;
    margin-left: 90px;
    border: none;
    margin-top: 25px;
    transform: translateY(-50px);
}

.heading4{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
}

.button1{
    background: #3671E9;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 24px;
    color: #FFFFFF;
    transform: translate(25vh,-4vh) !important;
    border: none;
    margin-top: 25px;
}

.ele{
    padding: 15px 15px 15px 15px;
}

.ele1{
    padding: 15px 15px 15px 15px;
    color: #9AFF76;
    transform: translateX(-50px);
}

.ele2{
    padding: 3px 5px 3px 5px;
    color: #FF7676;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.ele3{
    transform: translateX(-100px);
    padding: 3px 15px 3px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4610AD;
    border-radius: 16px;
}

.ele4{
    padding: 15px 15px 15px 15px;
    background-color: #4610AD;
}

.ele5{
    padding: 15px 15px 15px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #F2F2F2;
}

.ele6{
    padding: 15px 15px 15px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F2F2F2;
    transform: translateY(4px);
    font-weight: 500;
    font-size: 20px;
}

.table{
    width: 100%;
}

.box1{
    border: 1px solid #F5FBF2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) -30.29%, rgba(255, 255, 255, 0) 144.92%);
    backdrop-filter: blur(25px);
    border-radius: 15px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 50px;
}

.box2{
    border: 1px solid #F5FBF2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) -30.29%, rgba(255, 255, 255, 0) 144.92%);
    backdrop-filter: blur(25px);
    border-radius: 15px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 50px;
}

.coloricon1{
    margin-left: 15vw;

}

.newsletter{
    margin-top: 15vh;
    margin-bottom: 25vh;
}

.newslettercontainer{
    background: #3671E9;
    border-radius: 16px;
    background-image: url('../public/Mask Group.svg');
    padding:5vh;
    margin-left: 200px;
    margin-right: 200px;
}

.newsletterbox{
    display: flex;
    align-items: center;
}

.headingd{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-left: 40px;
}

.parad1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em; 
    color: #FFFFFF;
    margin-left: 40px;
    mix-blend-mode: normal;
    transform: translateY(13px);
}

.parad2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-left: 40px;
    mix-blend-mode: normal;
}

.input1{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    margin-left: 2vw;
    margin-right: 5vw;
    color: #fff
}

input.input1::placeholder { 
    color: white;
}

input.input1:focus{
    outline: none;
}


.subscribe{
    font-family: 'Poppins';
    background: #FFFFFF;
    border-radius: 32px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-right: 50px;
padding: 14px 32px;
border: none;
color: #0D0D2B;
}



.error{
    max-width: 14vw;
    color: #fff;
    margin-top: 10px;
}

@media screen and (max-width: 1400px) {
    
    .newsletterbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subscribe{
        background: #FFFFFF;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 14px 32px;
        border: none;
        color: #0D0D2B;
        margin-top: 25px;
        margin-right: 50px;
    }

    .newslettercontainer{
        background: #3671E9;
        border-radius: 16px;
        background-image: url('../public/Mask Group.svg');
        padding: 3vh 2vh 3vh 2vh;
        margin-left: 50px;
        margin-right: 50px;
    }

    .headingd{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        color: #FFFFFF;
        mix-blend-mode: normal;
    }
    

  }


  @media screen and (max-width: 760px) {
    /* .table{
        width: 100%;
    } */
    
  }

  @media screen and (min-width: 2000px) {
   
    .box1{
        border: 1px solid #F5FBF2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) -30.29%, rgba(255, 255, 255, 0) 144.92%);
        backdrop-filter: blur(25px);
        border-radius: 15px;
        margin-left: 2vw;
        margin-right: 7vw;
        padding: 180px;
    }

    .heading4{
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 150%;
        color: #FFFFFF;
    }
    .img4{
        margin-left: 250px;
        margin-bottom: 70px;
        border: none;
        width: 65%;
        transform: translateY(-50px);
    }

    .box2{
        border: 1px solid #F5FBF2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) -30.29%, rgba(255, 255, 255, 0) 144.92%);
        backdrop-filter: blur(25px);
        border-radius: 12px;
        margin-left: 7vw;
        margin-right: 2vw;
        padding: 180px;
    }

    .heading3{
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 150%;
        color: #FFFFFF;
    }
  }